@use 'lib' as *;

.choose {
	$self: &;

	padding: fluid(70px, 48px) 0;
	background: #0F0F0F;
	color: #ffffff;

	&__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
	}

	&__title.title {
		grid-column: 1 / span 2;
		margin-bottom: 32px;
		max-width: 526px;
		font-size: fluid(33px, 24px);
		font-weight: 400;
		line-height: 150%;

		@include media("<=md") {
			grid-row: auto;
			grid-column: 1 / span 4;
		}
	}

	&__card {

		display: flex;
		align-items: end;
		justify-content: start;
		min-height: 273px;
		position: relative;
		border-radius: 10px;
		overflow: hidden;

		&_first {}

		&_second {}

		&_third {
			grid-column: 3 / span 1;
			grid-row: 1 / span 2;
		}

		&_fourth {
			grid-column: 4 / span 1;
			grid-row: 1 / span 2;
		}

		@include media("<=md") {
			grid-row: auto;
			grid-column: 1 / span 4;
		}
	}

	&__card-image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__card-title {
		font-style: 13px;
		line-height: 120%;
		position: relative;
		z-index: 1;
		padding: 28px 16px;
		text-transform: uppercase;
	}

}