@use 'lib' as *;

.promo {
	$self: &;

	padding-bottom: fluid(48px, 24px);

	&__main {
		position: relative;
		color: #FFFFFF;
		margin-bottom: 24px;
	}

	&__bg {
		position: absolute;
		inset: 0;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 100%);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__main-container {
		padding-top: fluid(180px, 100px);
		padding-bottom: 20px;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		height: fit-content;
		min-height: 100vh;
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin-bottom: fluid(80px, 48px);
		gap: 16px;
	}

	&__addreess {
		background: #FFFFFF26;
		border-radius: 5px;
		padding: 10px 12px;
		width: fit-content;
	}

	&__title {
		text-transform: uppercase;
		font-size: fluid(48px, 28px);
		line-height: 150%;
		max-width: 880px;
	}

	&__desc {
		font-size: fluid(24px, 18px);
		max-width: 653px;
	}

	&__info {
		align-self: flex-end;
		padding: 24px 20px;
		max-width: 590px;
		background: #FFFFFF42;
		border-radius: 10px;
	}

	&__info-title {
		margin-bottom: 8px;
		text-transform: uppercase;
		font-size: fluid(24px, 18px);
	}

	&__info-desc {
		margin-bottom: 30px;
		font-size: fluid(20px, 16px);
	}

	&__info-bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
	}

	&__info-button {
		@include flex-center;

		padding: 0 20px;
		background: $orange;
		height: 50px;
		border-radius: 10px;
		font-weight: 500;

		font-size: fluid(16px, 14px);
	}

	&__cards {}

	&__cards-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

		@include media("<=lg") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__card {
		display: grid;
		grid-template-columns: fluid(64px, 48px) 1fr;
		gap: 16px;
		background: $card;
		border-radius: 10px;
		padding: 20px;
	}

	&__card-icon {
		width: 100%;
		aspect-ratio: 1 / 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__card-title {
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	&__card-desc {
		color: $text-second;
	}

}