@use 'lib' as *;

.faq {
	$self: &;

	padding-top: fluid(64px, 48px);
	padding-bottom: fluid(48px, 32px);

	&__container {}

	&__title {
		margin-bottom: fluid(32px, 24px);
	}

	&__columns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px 48px;

		@include media("<=sm") {
			grid-template-columns: 100%;
			gap: 0;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		border-bottom: 1px solid #3C3C3C;
		display: grid;
		grid-template-rows: max-content 0fr;
		transition: all $transition;

		&.active {
			grid-template-rows: max-content 1fr;

			#{$self}__item-title {
				color: $orange;
				padding-bottom: 24px;

				&::after {
					transform: rotate(180deg);
				}
			}

			#{$self}__item-text {
				padding-bottom: fluid(32px, 24px);
			}
		}
	}

	&__item-title {
		font-size: fluid(24px, 16px);
		font-weight: 600;
		padding: fluid(32px, 24px) 0;
		transition: all $transition;
		cursor: pointer;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		&::after {
			content: '';
			display: block;
			width: 18px; height: 10px;
			background: url("../img/icons/arrow-down.svg") no-repeat center / contain;
			transition: all $transition;
		}
	}

	&__item-text {
		transition: all $transition;
		font-weight: 500;
		line-height: 120%;
		font-size: fluid(18px, 14px);
		overflow: hidden;
	}

}