@use 'lib' as *;

.remont {
	$self: &;

	position: relative;
	padding: fluid(64px, 48px) 0;
	color: #ffffff;

	&__bg {
		position: absolute;
		inset: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(180deg, #0F0F0F -5.64%, rgba(15, 15, 15, 0) 94.36%);
		}
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__title {

	}

	&__desc {
		margin-bottom: 18px;
	}

	&__sub-title {
		margin-bottom: 24px;
		color: $orange;
		font-weight: 700;
		font-size: fluid(20px, 18px);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 24px;

		li {
			position: relative;
			padding-left: 20px;

			&::before {
				content: '';
				position: absolute;
				left: 0; top: 50%;
				background: $orange;
				width: 10px; height: 10px;
				border-radius: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&__button {
		width: 100%;
		max-width: 240px;
		@include flex-center;
		background: $orange;
		padding: 14px 24px;
		border-radius: 10px;
	}

}
