<header class="header">
    <div class="header__container container">
        <div class="header__top">
            <a href="#" class="header__logo">
                <img loading="lazy" src="./img/logo.svg" alt="">
            </a>
            <div class="header__side">
                <div class="header__info">
                    <div class="header__info-up">
                        График работы
                    </div>
                    <p class="header__info-content">
                        Ежедневно 09:00 - 00:00
                    </p>
                </div>
                <div class="header__info">
                    <div class="header__info-up">
                        Мы на связи
                    </div>
                    <a href="#" class="header__info-content">
                        +7 (900) 000-86-00
                    </a>
                </div>
                <button class="header__callback-button">Заказать звонок</button>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
        <div class="header__menu">
            <button type="button" class="header__menu-close">
                <img loading="lazy" src="./img/icons/close.svg" alt="">
            </button>
            <img loading="lazy" src="./img/logo-dark.svg" alt="" class="header__mobile-logo">
            <ul class="header__list">
                <li class="header__list-item"><a href="#">Услуги</a></li>
                <li class="header__list-item"><a href="#">Марки авто</a></li>
                <li class="header__list-item"><a href="#">О сервисе</a></li>
                <li class="header__list-item"><a href="#">Примеры работ</a></li>
                <li class="header__list-item"><a href="#">FAQ</a></li>
                <li class="header__list-item"><a href="#">Контакты</a></li>
            </ul>
            <div class="header__socials">
                <a href="#" class="header__social">
                    <img loading="lazy" src="./img/icons/max.webp" alt="">
                </a>
                <a href="#" class="header__social">
                    <img loading="lazy" src="./img/icons/telegram.webp" alt="">
                </a>
                <a href="#" class="header__social">
                    <img loading="lazy" src="./img/icons/whatsapp.webp" alt="">
                </a>
            </div>
            <div class="header__mobile-info">
                <ul>
                    <li>г.Сургут</li>
                    <li><a href="#">+7 (900) 000-86-00</a></li>
                    <li>Сургут, Щепеткина 48</li>
                    <li><a href="#">hmao3@mail.ru</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>