@use 'lib' as *;

.contacts {
	$self: &;

	&__container {
		padding: 24px;
		background: #F4F4F4;
		border-radius: 10px;
	}

	&__main {
		margin-bottom: fluid(100px, 32px);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: fluid(96px, 32px);

		@include media("<=sm") {
			grid-template-columns: 100%;
			gap: 32px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(2, auto);
		justify-content: space-between;
		gap: 28px;

		@include media("<=sm") {
			width: fit-content;
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__info {
		a {
			transition: all $transition;

			&:hover {
				color: $orange;
			}
		}
	}

	&__info-title {
		font-size: 14px;
		color: #464646;
		margin-bottom: 6px;
	}

	&__info-content {
		
	}

	&__socials {
		display: flex;
		flex-direction: row;
		gap: fluid(16px, 8px);
	}

	&__map {
		height: 415px;
		border-radius: 10px;
		overflow: hidden;

		// удалить
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}
