@use 'lib' as *;

.work {
	$self: &;

	padding: fluid(64px, 48px) 0;

	&__container {

	}

	&__title {
		margin-bottom: fluid(32px, 24px);
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 20px;
		margin-bottom: 24px;

		@include media("<=xlg") {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr)
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__card {
		padding: 10px 14px;
		background: #EAEBED;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
		border-radius: 6px;
	}

	&__card-icon {
		border-radius: 6px;
		width: 50px; height: 50px;
		box-shadow: 0px 6px 20px 0px #0078BE33;
		background: #FFFFFF;
		flex: 0 0 auto;

		img {
			object-fit: contain;
			width: 100%;
		}
	}

	&__desc {
		color: $orange;
		font-weight: 600;
		font-size: fluid(24px, 20px);
	}

}
