@use 'lib' as *;

.header {
	$self: &;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	color: #FFFFFF;
	z-index: 10;
	transition: background 0.3s ease-in-out;

	&.is-scroll {
		background: rgba($color: #000000, $alpha: 0.9);
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 12px 0;
		border-bottom: 1px solid #505050;
	}

	&__logo {
		height: fluid(60px, 36px);

		img {
			object-fit: contain;
			width: auto;
			height: 100%;
		}
	}

	&__side {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 48px;

		@include media("<=lg") {
			display: none;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 8px;

		&:nth-child(1) {
			#{$self}__info-up {
				position: relative;

				&::before {
					content: '';
					position: relative;
					width: 20px;
					height: 20px;
					position: absolute;
					right: calc(100% + 10px);
					top: 50%;
					transform: translateY(-50%);
					background: url("../img/icons/time.svg") no-repeat center / cover;
				}
			}
		}

		&:nth-child(2) {
			#{$self}__info-up {
				position: relative;

				&::before {
					content: '';
					position: relative;
					width: 4px;
					height: 4px;
					position: absolute;
					right: calc(100% + 10px);
					top: 50%;
					transform: translateY(-50%);
					background: #12F151;
					border-radius: 100%;
				}
			}
		}
	}

	&__info-up {
		color: #CFCFCF;
		font-size: 14px;
	}

	&__info-content {
		font-size: 15px;
	}

	&__callback-button {
		@include flex-center;
		padding: 14px 30px;
		font-weight: 500;
		border: 1px solid #ffffff;
		border-radius: 10px;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: center;

		@include media("<=lg") {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			background: #FFFFFF;
			padding: 30px;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all $transition;
		}

		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 12px 24px;
		max-width: 870px;
		flex-wrap: wrap;
		width: 100%;

		@include media("<=lg") {
			flex-direction: column;
			justify-content: center;
			align-items: start;
			margin-bottom: 20px;
		}
	}

	&__list-item {
		a {
			display: block;
			padding: 12px 0;

			@include media("<=lg") {
				padding: 0;
			}
		}

		@include media("<=lg") {
			color: $text-main;
			font-weight: 500;
		}
	}

	&__burger {

		@include flex-center;
		position: relative;
		z-index: 10;
		width: 32px;
		height: 24px;

		@include media(">lg") {
			display: none;
		}

		&.active {
			span {
				opacity: 0;
			}

			&::after {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&::before {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 2px;
			background: #ffffff;
			border-radius: 8px;
			transition: all $transition;

		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 2px;
			background: #ffffff;
			border-radius: 8px;
			transition: all $transition;
		}

		span {
			width: 100%;
			height: 2px;
			background: #ffffff;
			position: relative;
			border-radius: 8px;
			transition: all $transition;
		}
	}

	&__mobile-logo {
		margin-bottom: 20px;
		height: 65px;

		@include media(">lg") {
			display: none;
		}
	}

	&__socials {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-bottom: 20px;

		@include media(">lg") {
			display: none;
		}
	}

	&__social {
		width: 50px;
		height: 50px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__menu-close {
		@include media(">lg") {
			display: none;
		}

		position: absolute;
		top: 20px;
		right: 16px;
		width: 16px;
		height: 16px;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__mobile-info {

		color: $text-main;
		font-weight: 500;
		padding: 8px 12px;
		border-radius: 6px;
		border: 1px solid $orange;
		width: 100%;
		max-width: 260px;

		ul {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		@include media(">lg") {
			display: none;
		}
	}

}